<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Turkey!</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="justify-space-between align-center p-2">
      <nav>
        <a href="/">Home</a>
        {{#if logged_in}}
        <a href="/profile">Profile</a> |
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
      <h1>
        <span role="img" aria-label="Terry the Turkey">🦃</span>
        <a href="/">Tech Turkey!</a>
      </h1>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>
  {{!-- <audio controls autoplay>
  <source src="thegobbler.mp3" type="audio/mpeg">
  Your browser does not support the turkey gobble audio.
  </audio> --}}
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
